.header {
    position: fixed;
    top: 0;
    height: 5vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: dodgerblue;
    z-index: 999;
}
nav {
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.logo {
    width: 80%;
}
.link {
    margin: 0 55%;
}
a {
    text-decoration: none;
    color: #fff;
}
h3 {
    margin-left: 15px;
}
