.Home {
    height: 100vh;
    width: 100%;
    background-image: url('../../public/images/heroGym.jfif');
    background-position: center;
    background-size: cover;
}
.wrapper {
    position: relative;
    top: 17vh;
    height: 55%;
    width: 55%;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.7);
    text-align: center;
    border-radius: 3px;
}
.hero-text {
    display: flex;
    flex-flow: row wrap;
}
span,
h1 {
    width: 100%;
}
p {
    font-size: 1.35rem;
    text-align: center;
}
.home-links {
    width: 50%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.link1, 
.link2 {
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 1% 7%;
    border-radius: 10px;
    color: #000;
    font-size: 1.5rem;
    transition: all 500ms ease-in-out;
}
.link1:hover {
    background-color: red;
}
.link2:hover {
    background-color: dodgerblue;
}