form {
    position: relative;
    top: 5vh;
    height: calc(100vh - 5vh);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.register-wrapper {
    height: 75%;
    width: 35%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: dodgerblue;
}
label {
    font-weight: 600;
    font-size: 1.5em;
}
input {
    width: 100%; 
    margin: 10% 0;
}
button {
    padding: 2% 10%;
    border: none;
    border-radius: 10px;
}